<% if message.user_id != current_user.id %>
  <% if @room.users[0].id.equal?(current_user.id) %>
    <% my_user = @room.users[0] %>
    <% partner_user = @room.users[1]%>
  <% else %>
    <% my_user = @room.users[1] %>
    <% partner_user = @room.users[0]%>
  <% end %>

<!------------------ 左コメント ------------------>
  <div class="balloon6">

    <%# アイコン表示 %>
    <div class="face-icon" data-bs-toggle="modal" data-bs-target="#roomProfileModal" role="button">
      <% if partner_user.image.present? %>
        <%= image_tag partner_user.image %>
      <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
      <% end %>
    </div>

    <%# 名前表示 %>
    <div class="chat-name">
      <%= partner_user.nickname %>
    </div>

    <div class="chatting">
      <div class="says">
        <p><%= message.content %></p>
      </div>
      <span class="chat-time"><%= l message.created_at %></span>
    </div>
  </div>

<!------------------ 右コメント ------------------>
<% else %>
  <div class="my-comment">
    <span class="chat-time"><%= l message.created_at %></span>
    <p><%= message.content %></p>
  </div>
<% end %>
<!------------------ end ------------------>

<!-- Modal（ルーム作成者 プロフィール詳細） -->
<%= render "shared/m_room_profile"%>