<%= render "shared/header" %>

<main>
  <div class="container">
    <div class="row">
<!--------------クリッカブルマップ-------------->
      <div class="my-4 col-lg-6">
        <div class="form-box">
          <div class="title-box">
            <h1 class="title-text">Booking edit</h1>
            <h1 class="title-text text-filter">Booking edit</h1>
            <%# <h3 class="title-text-sub">You can select the area by clicking the map.</h3> %>
            <%# <h3 class="title-text-sub text-filter">You can select the area by clicking the map.</h3> %>
          </div>
          <%= render 'shared/error_messages', model: @booking %>
          <%= render "shared/map"%>
        </div>
      </div>
<!--------------ブッキング投稿フォーム-------------->
      <div class="my-4 col-lg-6" >
        <div class="form-box">
          <%= form_with model: @booking, local: true do |f| %>

            <%# 地域、ジャンルの選択 %>
            <div class="form-row d-md-flex">
              <div class="my-2 col-5">
                <label class="info-text mb-2">地域</label>
                <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class: "form-select", id:"test-prefecture"}) %>
              </div>
              <div class="my-2 mx-md-5 col-5">
                <label class="info-text mb-2">ジャンル</label>
                <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class: "form-select"}) %>
              </div>
            </div>

            <%# 開催期間の選択 %>
            <div class="form-row d-md-flex">
              <div class="my-2 col-5">
              <label class="info-text mb-2">開催期間（開始）</label>
                <%= f.date_field :date_start, class: 'form-control',value: (Time.now.strftime("%Y-%m-%d")) %>
              </div>
              <div class="my-2 mx-md-5 col-5">
            <label class="info-text mb-2">開催期間（終了）</label>
                <%= f.date_field :date_end, class: 'form-control',value: (Time.now.strftime("%Y-%m-%d")) %>
              </div>
            </div>

            <%# 会場の入力 %>
            <div class="my-2">
              <label class="info-text mb-2">会場</label>
              <%= f.text_field :venue, class:"form-control", id:"", placeholder:"未定の場合は「未定」と入力してください", maxlength:"20" %>
            </div>

            <%# 詳細の入力 %>
            <div class="my-2">
              <label class="info-text mb-2">詳細</label>
              <%= f.text_area :detail, class:"form-control", rows: 8, placeholder:"詳細は必ず入力してください" %>
            </div>

            <%# 投稿ボタン %>
            <div class=" d-flex ">
              <div class='actions'>
                <%= f.submit "変更する" ,class:"mt-2 btn btn-primary px-4" %>
              </div>
              <div  class='actions '>
                <%= link_to 'もどる', booking_path(@booking.id), class: "btn mt-2 mx-3 btn-secondary px-4" %>
              </div>
          <% end %>
        </div>
      </div>
<!--------------end-------------->
    </div>
  </div>
</main>



<%= render "shared/footer" %>