<%= render "shared/header" %>

<main>
  <div class="container">
    <div class="row">

      <%# クリッカブルマップ %>
      <div class="title-box my-4 col-md-6">
        <h1 class="title-text">What's New in Booking.</h1>
        <h3 class="title-text-sub">
          If you want to know the live information by region, please click the map.
        </h3>
        <%= render "shared/map"%>
      </div>

      <%# ブッキング一覧 %>
      <div class="my-4 col-md-6 list-size" >
        <div class="list-group mb-2">
          <li class="list-group-item list-group-item-dark">新着情報</li>
        </div>
        <div class="list-group list-scroll">
          <% @bookings.each do |booking| %>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="booking-list-top">
                <%= booking.area.name %>
                <%= booking.venue %>
                <div><span class="badge bg-info rounded-pill">
                  <%= booking.genre.name %>
                </span></div>
              </div>
              <div class="booking-list-bottom">
                <div class="booking-list-bottom-left">
                開催期間：<%= booking.date_start %>〜<%= booking.date_end %>
                </div>
                <div class="booking-list-bottom-right">
                <%= booking.user.nickname %>
                </div>
              </div>
            </a>
          <% end %>
          <%# end %>

        </div>
      </div>
    </div>
  </div>
</main>



<%= render "shared/footer" %>