<%= render "shared/header" %>

<main class="background">
  <div class="container">
    <div class="row">

<!--------------left_side-------------->
      <div class="my-4 col-lg-6">
        <%= render "shared/map"%>
      </div>

<!--------------right_side-------------->
      <div class="my-4 col-lg-6" >
        <div class="form-box">
          <%= form_with model: @booking, url: '#', local: true do |f| %>

          <div class='mb-3"'>
              <h3 class='info_text'>
                ブッキング投稿フォーム
              </h3>
          </div>

            <div class="my-3">
              <%= f.text_field :nickname, class:"form-control", id:"", placeholder:"地域" %>
            </div>
              <div class="my-3">
              <%= f.text_field :nickname, class:"form-select", id:"", placeholder:"ジャンル" %>
            </div>

          <div class="form-row d-md-flex">
            <div class="mb-3 col-5">
              <%= f.date_field :date_start, class: 'form-control' %>
            </div>
            <div class="mb-3 col-1">
              <h2 class="control-label text mx-lg-1">〜</h2>
            </div>
              <div class="mb-3 col-5">
              <%= f.date_field :date_end, class: 'form-control' %>
            </div>
          </div>

            <div class="mb-3">
              <%= f.text_field :nickname, class:"form-control", id:"", placeholder:"ライブ会場", maxlength:"40" %>
            </div>
            <div class="mb-3">
              <%= f.text_area :nickname, class:"form-control", rows: 8, placeholder:"詳細記入" %>
            </div>

            <div class='actions'>
              <%= f.submit "投稿" ,class:"btn btn-primary px-4" %>
            </div>
          <% end %>
        </div>
      </div>
<!--------------end-------------->
    </div>
  </div>
</main>



<%= render "shared/footer" %>