<%= render "shared/header" %>

<main>
  <div class="container">
    <div class="row">

      <%# クリッカブルマップ %>
      <div class="title-box my-4 col-md-6">
        <h1 class="title-text">What's New in Booking.</h1>
        <h1 class="title-text text-filter">What's New in Booking.</h1>
        <h3 class="title-text-sub">
          If you want to know the live information by region, please click the map.
        </h3>
        <h3 class="title-text-sub text-filter">
          If you want to know the live information by region, please click the map.
        </h3>
        <%= render "shared/map" %>
      </div>

      <%# ブッキング詳細 %>
      <div class="my-4 col-md-6 list-show-size">
        <div class="list-group mb-2">
          <li class="list-group-item list-group-item-dark">
            詳細情報
          </li>
        </div>
        <div class="list-group list-scroll">
          <div class="list-group-item list-show-size">

            <div class="booking-show-top">
              <%# 会場 %>
              <%= @booking.venue %>
              <%# 都道府県 %>
              (<%= @booking.area.name %>)
              <%# ジャンル %>
              <div><span class="badge bg-info rounded-pill">
                <%= @booking.genre.name %>
              </span></div>
            </div>

            <%# 開催期間 %>
            <div class="booking-show-middle">
              <div>
                開催期間：<%= @booking.date_start %>〜<%= @booking.date_end %>
              </div>
              <%# 投稿者名 %>
              <div>
                <%= link_to @booking.user.nickname, '#' %>
              </div>
            </div>
            <%# 詳細 %>
            <div class="detail-box list-scroll">
              <%=safe_join(@booking.detail.split("\n"),tag(:br))%>
            </div>

            <%# 各種ボタン %>
            <div class="booking-show-bottom">

              <% if user_signed_in? && current_user.id == @booking.user_id %>
                <div class="d-inline-flex">
                  <%#  %>
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#roomsModal">チャットルーム一覧</button>
                  <%#  %>
                  <%= link_to 'もどる', root_path, class: "btn btn-outline-secondary mx-2"%>
                </div>
                <div>
                  <%= link_to '編集', edit_booking_path(@booking.id), class: "btn btn-outline-secondary"%>
                  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">削除</button>
                </div>
              <% else %>

                <div class="d-inline-flex">
                  <%=form_with model: @room, url: booking_rooms_path(params[:id]), local: true do |f|%>
                    <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
                    <input name="room[user_ids][]" type="hidden" value=<%= @booking.user.id %>>
                    <%= f.submit name="チャットルーム", class: 'btn btn-outline-primary'%>
                  <% end %>
                  <%= link_to 'もどる', root_path, class: "btn btn-outline-secondary mx-2"%>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>

<!-- Modal（削除確認） -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Caution</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当に削除してもよろしいですか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">もどる</button>
        <%= link_to '削除する', booking_path(@booking.id), method: :delete, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>

<!-- Modal（チャットルーム一覧） -->
<div class="modal fade" id="roomsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">チャットルーム一覧</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <% if @rooms.present? %>
          <%= render partial: 'room', collection: @rooms %>
        <% else %>
          まだチャットはありません
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">もどる</button>
      </div>
    </div>
  </div>
</div>



