<%= render "shared/header" %>

<main>
  <div class="container">
    <div class="row row-size">

<!--------------クリッカブルマップ-------------->
      <div class="my-4 col-lg-6">

          <div class="title-box">
            <h1 class="title-text">Booking post</h1>
            <h1 class="title-text text-filter">Booking post</h1>

            <%# エラーメッセージ＆マップテキスト %>
            <%= render 'shared/error_messages', model: current_user %>

          </div>
        <%= render "shared/map"%>
      </div>
<!--------------ブッキング投稿フォーム-------------->
      <div class="my-4 col-md-6" >
        <div class="form-box">

          <%= form_with model: current_user, local: true do |f| %>

            <div class="field">
              <%= f.label :nickname %><br />
              <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control", placeholder: "Nickname" %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class:"btn btn-primary mb-3" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>