<%= render "shared/header" %>

<main>
  <div class="container">
    <div class="row row-size">

<!--------------クリッカブルマップ-------------->
      <div class="my-4 col-lg-6">

          <div class="title-box">
            <h1 class="title-text">Profile edit</h1>
            <h1 class="title-text text-filter">Profile edit</h1>

            <%# エラーメッセージ＆マップテキスト %>
            <%= render 'shared/error_messages', model: current_user %>

          </div>
        <%= render "shared/map"%>
      </div>
<!--------------ユーザー情報編集フォーム-------------->
      <div class="my-4 col-md-6" >
        <div class="form-box">

          <%= form_with model: current_user, local: true do |f| %>

            <%# メールアドレス、画像の選択 %>
            <div class="form-row d-md-flex">
              <div class="my-2 col-5">
                <label class="info-text mb-2">メールアドレス</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
              </div>
            </div>

            <%# 名前、性別の選択 %>
            <div class="form-row d-md-flex">
              <div class="my-2 col-5">
                <label class="info-text mb-2">名前</label>
                <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form-control", placeholder: "Nickname" %>
              </div>
              <div class="my-2 mx-md-5 col-5">
                <label class="info-text mb-2">性別</label>
                <%= f.collection_select(:sex_id, Sex.all, :id, :name, {include_blank: "---"}, {class: "form-select"}) %>
              </div>
            </div>

            <%# 生年月日、地域の選択 %>
            <div class="form-row d-md-flex">
              <div class="my-2 col-5">
                <label class="info-text mb-2">生年月日</label>
                <div class="d-flex">

                  <%= f.date_select :birthday, {
                    use_month_numbers: true,
                    prompt:'--', start_year: 1930,
                    end_year: (Time.now.year)
                    },
                    {class: "form-control w-auto text-center mx-2"} %>


                </div>
              </div>
              <div class="my-2 mx-md-5 col-5">
                <label class="info-text mb-2">地域</label>
                <%= f.collection_select(:area_id, Area.all, :id, :name, {include_blank: "---"}, {class: "form-select", id:"area-select"}) %>
              </div>

            </div>

            <%# ジャンル、パートの選択 %>
            <div class="form-row d-md-flex">
              <div class="my-2 col-5">
                <label class="info-text mb-2">ジャンル</label>
                <%= f.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: "---"}, {class: "form-select"}) %>
              </div>
              <div class="my-2 mx-md-5 col-5">
                <label class="info-text mb-2">パート</label>
                <%= f.collection_select(:part_id, Part.all, :id, :name, {include_blank: "---"}, {class: "form-select"}) %>
              </div>
            </div>

            <%# 詳細の入力 %>
            <div class="mt-2 mb-5">
              <label class="info-text mb-2">自己紹介/メッセージ</label>
              <%= f.text_area :introduction, class:"form-control", rows: 8 %>
            </div>

            <%= f.submit "更新する", class:"btn btn-primary" %>
            <%= link_to 'もどる', root_path, class: "btn btn-secondary mx-2"%>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>