<%= link_to booking_path(booking.id), class: 'list-group-item list-group-item-action' do %>

  <div class="booking-list-top">
    <%= booking.area.name %>
    <%= booking.venue %>
    <div><span class="badge bg-info rounded-pill">
      <%= booking.genre.name %>
    </span></div>
  </div>

  <div class="booking-list-bottom">
    <div>
      <% if booking.date_start == booking.date_end %>
        開催予定日：<%= booking.date_start %>
      <% else %>
        開催予定期間：<%= booking.date_start %>〜<%= booking.date_end %>
      <% end%>
    </div>
    <div>
      <%= booking.user.nickname %>
    </div>
  </div>
  
<% end %>