<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Band Bond</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-------------------ログインしている場合------------------->
    <% if user_signed_in?%>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ブッキング
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to '投稿', new_booking_path, class: "dropdown-item" %></li>
              <li><a class="dropdown-item disabled" href="#">編集</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item disabled" href="#">削除</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              チャット
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item disabled" href="#">unknown</a></li>
              <li><a class="dropdown-item disabled" href="#">unknown</a></li>
              <li><a class="dropdown-item disabled" href="#">unknown</a></li>
              <li><a class="dropdown-item disabled" href="#">unknown</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              プロフィール
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item disabled" href="#">詳細</a></li>
              <li><a class="dropdown-item disabled" href="#">編集</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to current_user.nickname, "#", class: "user-nickname nav-link active" %>
        </li>
      </ul>

    <!-------------------ログインしていない場合------------------->
    <% else %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a type="button" class="nav-link dropdown-toggle" data-bs-toggle="modal" data-bs-target="#exampleModal">
            ブッキング
          </a>
          <a type="button" class="nav-link dropdown-toggle" data-bs-toggle="modal" data-bs-target="#exampleModal">
            チャット
          </a>
          <a type="button" class="nav-link dropdown-toggle" data-bs-toggle="modal" data-bs-target="#exampleModal">
            プロフィール
          </a>

          <!-- Modal（ログイン案内） -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  この機能を使用するにはログインが必要です。
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" data-bs-dismiss="modal">
                    <%= link_to 'ログインする', new_user_session_path, class: "login nav-link active" %>
                  </button>
                  <button class="btn btn-primary">
                    <%= link_to '新規登録する', new_user_registration_path, class: "sign-up nav-link active" %>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: "login nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up nav-link active" %>
        </li>
      </ul>
    <% end %>
    <!-------------------ここまで------------------->

      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <form method="get" action="#" class="search_container">
        <input type="text" size="25" placeholder="キーワード検索">
        <input type="submit" value="&#xf002">
      </form>

    </div>
  </div>
</nav>


