<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" title="トップページへ戻ります">Band Bond</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-------------------ログインしている場合------------------->
    <% if user_signed_in?%>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ブッキング
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to '新規投稿', new_booking_path, class: "dropdown-item" %></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myBookingModal">投稿履歴</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              チャット
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myRoomModal">チャット履歴</a></li>
            </ul>
          </li>
          <%= search_form_for @q, url: search_bookings_path, html: {id: "detailed-search-form"} do |f| %>
            <div class="form-row d-md-flex">
              <%= f.collection_select(:area_id_eq, Area.all, :id, :name, {include_blank: "地域"}, {class: "form-select mx-1 bg-dark text-secondary border-success rounded-pill", id:"search-area-select"}) %>
              <%= f.collection_select(:genre_id_eq, Genre.all, :id, :name, {include_blank: "ジャンル"}, {class: "form-select mx-1 bg-dark text-secondary border-success rounded-pill"}) %>
              <%= f.submit 'Search', class: "btn btn-outline-success rounded-pill mx-1", id: "search-submit" %>
              <i class="bi bi-search"></i>
            </div>
          <% end %>
        </ul>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout nav-link active" %>
        </li>
        <li class="nav-item" data-bs-toggle="modal" data-bs-target="#profileModal">
          <%= link_to current_user.nickname, "#", class: "user-nickname nav-link active" %>
        </li>
      </ul>

    <!-------------------ログインしていない場合------------------->
    <% else %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a type="button" class="nav-link dropdown-toggle" data-bs-toggle="modal" data-bs-target="#loginModal">
            ブッキング
          </a>
          <a type="button" class="nav-link dropdown-toggle" data-bs-toggle="modal" data-bs-target="#loginModal">
            チャット
          </a>
          <%= search_form_for @q, url: search_bookings_path, html: {id: "detailed-search-form"} do |f| %>
            <div class="form-row d-md-flex">
              <%= f.collection_select(:area_id_eq, Area.all, :id, :name, {include_blank: "地域"}, {class: "form-select mx-1 bg-dark text-secondary border-success rounded-pill", id:"search-area-select"}) %>
              <%= f.collection_select(:genre_id_eq, Genre.all, :id, :name, {include_blank: "ジャンル"}, {class: "form-select mx-1 bg-dark text-secondary border-success rounded-pill"}) %>
              <%= f.submit 'Search', class: "btn btn-outline-success rounded-pill mx-1", id: "search-submit" %>
              <i class="bi bi-search"></i>
            </div>
          <% end %>
        </ul>
      </div>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: "login nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up nav-link active" %>
        </li>
      </ul>
    <% end %>
    <!-------------------ここまで------------------->

      <!-- Modal（プロフィール詳細） -->
      <%= render "shared/m_profile"%>

      <!-- Modal（投稿履歴） -->
      <%= render "shared/m_my_booking"%>

      <!-- Modal（チャット履歴） -->
      <%= render "shared/m_my_room"%>

      <!-- Modal（ログイン案内） -->
      <%= render "shared/m_login" %>
    </div>
  </div>
</nav>


