<% if room.messages.present? && user_signed_in? %>
  <% if room.users[0].id == @booking.user.id %>
    <% user = room.users[1] %>
  <% else %>
    <% user = room.users[0] %>
  <% end %>

  <%= link_to room_path(room[:id]), class: 'list-group-item list-group-item-action' do %>
    <div class="booking-list-top">
      <%= user.nickname %>さん
      <div>
        <span class="badge bg-info rounded-pill">
          <%= l room.messages.last.created_at %>
        </span>
      </div>
    </div>
    <div class="booking-list-bottom">
      <% if room.messages.last.user.id != current_user.id %>
        <div class="chatting">
          <div class="says">
            <p><%= room.messages.last.content %></p>
          </div>
        </div>
      <% else %>
        <div class="mycomment ms-auto">
          <p><%= room.messages.last.content %></p>
        </div>
      <% end%>
    </div>
  <% end %>
<% end %>
