<!-- Modal（ブッキング検索） -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">ブッキング検索</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <%= search_form_for @q, url: search_bookings_path, html: {id: "detailed-search-form"} do |f| %>
          <div class="form-row d-md-flex">
            <div class="search-field my-2 col-5">
              <%= f.label :area_id_eq, '地域' %>
              <br>
              <%= f.collection_select(:area_id_eq, Area.all, :id, :name, {include_blank: "---"}, {class: "form-select", id:"area-prefecture"}) %>
            </div>
            <div class="search-field my-2 mx-md-5 col-5">
              <%= f.label :genre_id_eq, 'ジャンル' %>
              <br>
              <%= f.collection_select(:genre_id_eq, Genre.all, :id, :name, {include_blank: "---"}, {class: "form-select"}) %>
            </div>
          </div>
          <div class="search-field mb-4">
            <%= f.label :venue_cont, '会場名' %>
            <br>
            <%= f.text_field :venue_cont, class:"form-control", placeholder: '会場名' %>
          </div>
          <div class="modal-footer">
            <label class="btn btn-primary">
            検索
              <span class="hidden"><%= f.submit '検索' %></span>
            </label>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">もどる</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>