<%= render "shared/header" %>

<main class="background image-size">
  <div class="container">
    <div class="row row-size">

      <div class="my-4 col-md-6" >
        <div class="form-box">
          <h1 class="info_text">Please fill in the required items and sign in.</h1>
          <h3 class="login-flash-message"><%= alert %></h3> <%# deivseのフラッシュメッセージを表示 %>
        </div>
      </div>

      <div class="my-4 col-md-6" >
        <div class="form-box">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field form-check mb-5">
              <%= f.check_box :remember_me, class: "form-check-input"%>
              <%= f.label :remember_me, class:"form-check-label" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class:"btn btn-primary mb-3" %>
          </div>
        <% end %>

        </div>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>
