<%= render "shared/header" %>

<main>
  <div class="container">
    <div class="row">

      <%# ---------- クリッカブルマップ ---------- %>
      <div class="title-box my-4 col-md-6">
        <h1 class="title-text">Chat Room</h1>
        <h1 class="title-text text-filter">Chat Room</h1>
        <h3 class="title-text-sub">
          This chat room is private.
        </h3>
        <h3 class="title-text-sub text-filter">
          This chat room is private.
        </h3>
        <%= render "shared/map" %>
      </div>

      <%# ---------- チャット画面 ---------- %>
      <div class="my-4 col-md-6 list-show-size">
        <div class="list-group list-scroll">
          <div class="chat-box">

            <!--左コメント-->
            <div class="balloon6">
              <div class="faceicon">

              <%# アイコン %>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <%# アイコン end %>
              </div>

                <%# 名前表示 %>
                <div class="chat-name">
                  <% if @room.users[0].id == current_user.id %>
                    <%= @room.users[1].nickname %>
                  <% else %>
                    <%= @room.users[0].nickname %>
                  <% end %>
                </div>
                <%# 名前表示 end %>

              <div class="chatting">
                <div class="says">
                  <p>左ふきだし文</p>
                </div>
              </div>
            </div>
            <!--左コメント end-->

            <!--右コメント-->
            <div class="mycomment">
              <p>
              右ふきだし文
              </p>
            </div>
            <!--右コメント end-->

            <!--送信フォーム-->
            <form class="chat-form ">
              <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <button type="submit" class="btn btn-primary">送信</button>
            </form>
            <!--送信フォーム end-->

          </div> 
        </div>
          <div class="d-flex div-color mt-2 justify-content-end align-items-center">
            <div class="my-2">
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                ブッキング詳細を表示
              </button>
              <%= link_to 'もどる', booking_path(params[:booking_id]), class: "btn btn-secondary mx-2"%>
            </div>
          </div>
      </div>
      <%# ---------- チャット画面end ---------- %>

    </div>
  </div>
</main>
<%# <%= render "shared/footer" %>


<%# ---------- オフキャンバス（ブッキング詳細） ---------- %>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">ブッキング詳細</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="booking-show-top">
      <%# 会場 %>
      <%= @booking.venue %>
      <%# 都道府県 %>
      (<%= @booking.area.name %>)
      <%# ジャンル %>
      <div><span class="badge bg-info rounded-pill">
        <%= @booking.genre.name %>
      </span></div>
    </div>

    <%# 開催期間 %>
    <div class="booking-show-middle">
      <div>
        <%= @booking.date_start %>〜<%= @booking.date_end %>
      </div>
      <%# 投稿者名 %>
      <div>
        <%= link_to @booking.user.nickname, '#' %>
      </div>
    </div>
    <%# 詳細 %>
    <div class="detail-box list-scroll">
      <%=safe_join(@booking.detail.split("\n"),tag(:br))%>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>.....</p>
  </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>
<%# ---------- オフキャンバス（ブッキング詳細）end ---------- %>
