<%= render "shared/header" %>

<main>
  <div class="container">
    <div class="row">

      <%# ---------- クリッカブルマップ ---------- %>
      <div class="title-box my-4 col-md-6">
        <h1 class="title-text">Chat Room</h1>
        <h1 class="title-text text-filter">Chat Room</h1>
        <h3 class="title-text-sub">
          This chat room is private.
        </h3>
        <h3 class="title-text-sub text-filter">
          This chat room is private.
        </h3>
        <%= render "shared/map" %>
      </div>

      <%# ---------- チャット画面 ---------- %>
      <div class="my-4 col-md-6 list-show-size">
        <div class="list-group list-scroll">

          <div class="chat-box">
            <%= render partial: '/messages/message', collection: @messages %>
          </div> 

          <div class="div-color mt-2 justify-content-between align-items-center">
            <div class="m-2">
              <!--送信フォーム-->
              <%= form_with model: [@room, @message], local: true do |f| %>
                <div class="form-row d-flex">
                  <div class="form-group col-10">
                    <%= f.text_field :content, class: 'form-control', placeholder: 'type a message' %>
                  </div>
                  <div class="form-group col-1 text-right ms-2">
                    <%= f.submit '送信', class: 'btn btn-primary' %>
                  </div>
                </div>
              <% end %>
              <!--送信フォーム end-->
            </div>

            <div class="m-2">
              <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                ブッキング詳細を表示
              </button>
              <% if @room.messages.present? %>
                <%= link_to 'もどる', booking_path(@booking.id), class: "btn btn-secondary mx-2"%>
              <% else %>
                <%= link_to 'もどる', room_path(@room), method: :delete, class: "btn btn-secondary mx-2"%>
              <% end %>
            </div>
          </div>
        </div>
      <%# ---------- チャット画面end ---------- %>

    </div>
  </div>
</main>


<%# ---------- オフキャンバス（ブッキング詳細） ---------- %>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">ブッキング詳細</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="booking-show-top">
      <%# 会場 %>
      <%= @booking.venue %>
      <%# 都道府県 %>
      (<%= @booking.area.name %>)
      <%# ジャンル %>
      <div><span class="badge bg-info rounded-pill">
        <%= @booking.genre.name %>
      </span></div>
    </div>

    <%# 開催期間 %>
    <div class="booking-show-middle">
      <div>
        <%= @booking.date_start %>〜<%= @booking.date_end %>
      </div>
      <%# 投稿者名 %>
      <div>
        <%= link_to @booking.user.nickname, '#' %>
      </div>
    </div>
    <%# 詳細 %>
    <div class="detail-box list-scroll">
      <%=safe_join(@booking.detail.split("\n"),tag(:br))%>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>.....</p>
  </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>
<%# ---------- オフキャンバス（ブッキング詳細）end ---------- %>
